<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Scripts -->
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- fotnawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">

    <title>Work Chrono Olisails</title>
  </head>
  <body>
    <div class="container pt-3" id="app">
      <h1 class="text-center">Work Chrono Olisails</h1>
      <form class="mt-3 mb-3" action="">
        <label for="name"><h4>Nome del lavoro:</h4></label>
        <input v-if="show == 1" v-on:keydown.enter="showName" id="name" class="form-control" type="text" placeholder="inserisci il nome del lavoro" v-model="name"> 
        <h4 v-if="show == 0">{{name}}</h4>
      </form>
      
      <h2>Ore totali: {{totalHours}}</h2>
      <button class="btn btn-dark" @click="reset">Reset</button>

      <div class="operator_one">
        <h4 v-if="showS1 == 1" >Operatore 1: 
           <input v-on:keydown.enter="showNameS1" id="nameS1" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 1" v-model="nameS1">
        </h4>
        <h4 v-if="showS1 == 0">Operatore {{nameS1}}:</h4>

        <button class="btn btn-success" @click="start">Start</button>
        <button class="btn btn-danger" @click="stop">Stop</button>
        <p>{{formattedElapsedTime1}}</p>
      </div>

      <div class="operator_two">
        <h4 v-if="showS2 == 1" >Operatore 2: 
           <input v-on:keydown.enter="showNameS2" id="nameS2" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 2" v-model="nameS2">
        </h4>
        <h4 v-if="showS2 == 0">Operatore {{nameS2}}:</h4>

        <button class="btn btn-success" @click="start2">Start</button>
        <button class="btn btn-danger" @click="stop2">Stop</button>
        <p>{{formattedElapsedTime2}}</p>
      </div>

      <div class="operator_three">
        <h4 v-if="showS3 == 1" >Operatore 3: 
           <input v-on:keydown.enter="showNameS3" id="nameS3" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 3" v-model="nameS3">
        </h4>
        <h4 v-if="showS3 == 0">Operatore {{nameS3}}:</h4>

        <button class="btn btn-success" @click="start3">Start</button>
        <button class="btn btn-danger" @click="stop3">Stop</button>
        <p>{{formattedElapsedTime3}}</p>
      </div>

      <div class="operator_four">
        <h4 v-if="showS4 == 1" >Operatore 4: 
           <input v-on:keydown.enter="showNameS4" id="nameS4" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 4" v-model="nameS4">
        </h4>
        <h4 v-if="showS4 == 0">Operatore {{nameS4}}:</h4>

        <button class="btn btn-success" @click="start4">Start</button>
        <button class="btn btn-danger" @click="stop4">Stop</button>
        <p>{{formattedElapsedTime4}}</p>
      </div>
    </div>

    <!-- <script src="js/script.js"></script> -->
    <script>
      new Vue ({
        el: "#app",
        data: {
            elapsedTime1: 0,
            elapsedTime2: 0,
            elapsedTime3: 0,
            elapsedTime4: 0,
            timer: undefined,
            timer2: undefined,
            timer3: undefined,
            timer4: undefined,
            show: 1,
            name: '',
            showS1: 1,
            nameS1: '',
            showS2: 1,
            nameS2: '',
            showS3: 1,
            nameS3: '',
            showS4: 1,
            nameS4: '',
            quantity: [],
            totalHours: 0,
        },
        computed: {
          formattedElapsedTime1() {
            let date = new Date(null);
            date.setSeconds(this.elapsedTime1 / 1000);
            let utc = date.toUTCString();
            return utc.substr(utc.indexOf(":") - 2, 8);
          },
          formattedElapsedTime2() {
            let date = new Date(null);
            date.setSeconds(this.elapsedTime2 / 1000);
            let utc = date.toUTCString();
            return utc.substr(utc.indexOf(":") - 2, 8);
          },
          formattedElapsedTime3() {
            let date = new Date(null);
            date.setSeconds(this.elapsedTime3 / 1000);
            let utc = date.toUTCString();
            return utc.substr(utc.indexOf(":") - 2, 8);
          },
          formattedElapsedTime4() {
            let date = new Date(null);
            date.setSeconds(this.elapsedTime4 / 1000);
            let utc = date.toUTCString();
            return utc.substr(utc.indexOf(":") - 2, 8);
          },
        },
        mounted() {
          
          this.quantity = JSON.parse(localStorage.getItem("quantity")) || []
          this.name = JSON.parse(localStorage.getItem("name")) || []


          this.elapsedTime1 = this.quantity[0];

          this.quantity[1] = this.elapsedTime2;

          this.quantity[2] = this.elapsedTime3;

          this.quantity[3] = this.elapsedTime4;

          for (let index = 0; index < this.quantity.length; index++) {
            
            this.totalHours += this.quantity[index];
            
          }

          this.totalHours = parseFloat((this.totalHours / 1000 / 3600).toFixed(2));

          if (this.name != '') {
            this.show = 0;
          }

        },
        // created() {
        //   this.quantity.push(this.elapsedTime1);
        //   this.quantity = JSON.parse(localStorage.getItem("quantity")) || []
        // },
        // watch: {
        //   quantity(newValue, oldValue) {
        //     localStorage.setItem("quantity", JSON.stringify(this.quantity));
        //   },
        // },
        methods: {
          // funzioni start
          start() {
            this.timer = setInterval(() => {
              this.elapsedTime1 += 1000;
              this.quantity[0] = this.elapsedTime1;
              localStorage.setItem("quantity", JSON.stringify(this.quantity));

              this.totalHours = 0;

              for (let index = 0; index < this.quantity.length; index++) {
                
                this.totalHours += this.quantity[index];
                
              }

              // this.totalHours = this.totalHours / 1000 / 3600;

              this.totalHours = parseFloat((this.totalHours / 1000 / 3600).toFixed(2));
              
            }, 1000);
          },
          start2() {
            this.timer2 = setInterval(() => {
              this.elapsedTime2 += 1000;
              this.quantity[1] = this.elapsedTime2;
              localStorage.setItem("quantity", JSON.stringify(this.quantity));

              this.totalHours = 0;

              for (let index = 0; index < this.quantity.length; index++) {
                
                this.totalHours += this.quantity[index];
                
              }

              // this.totalHours = this.totalHours / 1000 / 3600;

            
              this.totalHours = parseFloat((this.totalHours / 1000 / 3600).toFixed(2));
              
            }, 1000);
          },
          start3() {
            this.timer3 = setInterval(() => {
              this.elapsedTime3 += 1000;
              this.quantity[2] = this.elapsedTime3;
              localStorage.setItem("quantity", JSON.stringify(this.quantity));

              this.totalHours = 0;

              for (let index = 0; index < this.quantity.length; index++) {
                
                this.totalHours += this.quantity[index];
                
              }

              this.totalHours = parseFloat((this.totalHours / 1000 / 3600).toFixed(2));
              
            }, 1000);
          },
          start4() {
            this.timer4 = setInterval(() => {
              this.elapsedTime4 += 1000;
              this.quantity[3] = this.elapsedTime4;
              localStorage.setItem("quantity", JSON.stringify(this.quantity));

              this.totalHours = 0;

              for (let index = 0; index < this.quantity.length; index++) {
                
                this.totalHours += this.quantity[index];
                
              }

              this.totalHours = parseFloat((this.totalHours / 1000 / 3600).toFixed(2));
              
            }, 1000);
          },
          // funzioni stop
          stop() {
            clearInterval(this.timer);
          },
          stop2() {
            clearInterval(this.timer2);
          },
          stop3() {
            clearInterval(this.timer3);
          },
          stop4() {
            clearInterval(this.timer4);
          },
          // funzioni reset
          reset() {
            this.elapsedTime1 = 0;
            this.quantity[0] = this.elapsedTime1;
            this.elapsedTime2 = 0;
            this.quantity[1] = this.elapsedTime2;
            
            localStorage.setItem("quantity", JSON.stringify(this.quantity));
            this.totalHours = 0;

            this.show = 1;
            this.name = "";
          },
          showName() {
              this.show = 0;

              localStorage.setItem("name", JSON.stringify(this.name));

          },
          // funzioni mostra nome operatori
          showNameS1() {
              this.showS1 = 0;
          },
          showNameS2() {
              this.showS2 = 0;
          },
          showNameS3() {
              this.showS3 = 0;
          },
          showNameS4() {
              this.showS4 = 0;
          }
        }
      });
      </script>
  </body>
</html>