<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Scripts -->
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- fotnawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">

    <title>Work Chrono Olisails</title>
  </head>
  <body>
    <div class="container pt-3" id="app">
      <h1 class="text-center">Work Chrono Olisails</h1>
      
      <!-- lavoro 1 -->
      <div class="work_one py-2 px-4">
        <form class="mt-1 mb-5 text-center" action="">
          <label for="name1"><h4>Nome del lavoro:</h4></label>
          <input v-if="show1 == 1" v-on:keydown.enter="showName1" id="name1" class="form-control name_work" type="text" placeholder="inserisci il nome del lavoro" v-model="name1"> 
          <h4 v-if="show1 == 0">{{name1}}</h4>
        </form>
  
        <div class="text-center mt-1 mb-1">
          <button class="btn btn-dark" @click="reset1">Reset</button>
        </div>
        
        <div class="d-flex justify-content-around">
          <h2 class="text-center mt-4 mb-4 pr-5">Ore totali: {{totalHours1}}</h2>

          <div class="cost ml-5">
            Coefficiente orario:
            <select v-on:change="coefficient()" v-model="selectedCoefficient" name="coefficient" id="coefficients_select">
              <option value="30" selected="{selectedCoefficient == 30 ? 'selected' : null}">30</option>
              <option value="40" selected="{selectedCoefficient == 40 ? 'selected' : null}">40</option>
              <option value="50" selected="{selectedCoefficient == 50 ? 'selected' : null}">50</option>
              <option value="60" selected="{selectedCoefficient == 60 ? 'selected' : null}">60</option>
              <option value="70" selected="{selectedCoefficient == 70 ? 'selected' : null}">70</option>
              <option value="80" selected="{selectedCoefficient == 80 ? 'selected' : null}">80</option>
              <option value="90" selected="{selectedCoefficient == 50 ? 'selected' : null}">90</option>
              <option value="100" selected="{selectedCoefficient == 100 ? 'selected' : null}">100</option>
            </select>
            <h2 class="text-center mt-4 mb-4">&euro; totali: {{totalCost1}}</h2>

          </div>
        </div>

        <div class="operators d-flex justify-content-around">
          <div class="first">

            <div class="operator_one">
              <h4 v-if="show1S1 == 1" >Operatore 1: 
                 <input v-on:keydown.enter="showName1S1" id="name1S1" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 1" v-model="name1S1">
              </h4>
              <h4 v-if="show1S1 == 0">Operatore {{name1S1}}:</h4>
      
              <button class="btn btn-success" @click="start1">Start</button>
              <button class="btn btn-danger" @click="stop1">Stop</button>
              <p>{{formattedElapsedTime11}}</p>
            </div>
      
            <div class="operator_two">
              <h4 v-if="show1S2 == 1" >Operatore 2: 
                 <input v-on:keydown.enter="showName1S2" id="name1S2" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 2" v-model="name1S2">
              </h4>
              <h4 v-if="show1S2 == 0">Operatore {{name1S2}}:</h4>
      
              <button class="btn btn-success" @click="start12">Start</button>
              <button class="btn btn-danger" @click="stop12">Stop</button>
              <p>{{formattedElapsedTime12}}</p>
            </div>
          </div>

          <div class="second">

            <div class="operator_three">
              <h4 v-if="show1S3 == 1" >Operatore 3: 
                 <input v-on:keydown.enter="showName1S3" id="name1S3" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 3" v-model="name1S3">
              </h4>
              <h4 v-if="show1S3 == 0">Operatore {{name1S3}}:</h4>
      
              <button class="btn btn-success" @click="start13">Start</button>
              <button class="btn btn-danger" @click="stop13">Stop</button>
              <p>{{formattedElapsedTime13}}</p>
            </div>
      
            <div class="operator_four">
              <h4 v-if="show1S4 == 1" >Operatore 4: 
                 <input v-on:keydown.enter="showName1S4" id="name1S4" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 4" v-model="name1S4">
              </h4>
              <h4 v-if="show1S4 == 0">Operatore {{name1S4}}:</h4>
      
              <button class="btn btn-success" @click="start14">Start</button>
              <button class="btn btn-danger" @click="stop14">Stop</button>
              <p>{{formattedElapsedTime14}}</p>
            </div>
          </div>
        </div>
  
      </div>
      <!-- /lavoro 1 -->

      <hr>


      <!-- lavoro 2 -->
      <div class="work_two py-2 px-4">
      <form class="mt-1 mb-5 text-center" action="">
        <label for="name2"><h4>Nome del lavoro:</h4></label>
        <input v-if="show2 == 1" v-on:keydown.enter="showName2" id="name2" class="form-control name_work" type="text" placeholder="inserisci il nome del lavoro" v-model="name2"> 
        <h4 v-if="show2 == 0">{{name2}}</h4>
      </form>

      <div class="text-center mt-1 mb-1">
        <button class="btn btn-dark" @click="reset2">Reset</button>
      </div>
      
      <div class="d-flex justify-content-around">
        <h2 class="text-center mt-4 mb-4 pr-5">Ore totali: {{totalHours2}}</h2>

        <div class="cost ml-5">
          Coefficiente orario:
          <select v-on:change="coefficient2()" v-model="selectedCoefficient2" name="coefficient" id="coefficients_select">
            <option value="30" selected="{selectedCoefficient2 == 30 ? 'selected' : null}">30</option>
              <option value="40" selected="{selectedCoefficient2 == 40 ? 'selected' : null}">40</option>
            <option value="50" selected="{selectedCoefficient2 == 50 ? 'selected' : null}">50</option>
            <option value="60" selected="{selectedCoefficient2 == 60 ? 'selected' : null}">60</option>
            <option value="70" selected="{selectedCoefficient2 == 70 ? 'selected' : null}">70</option>
            <option value="80" selected="{selectedCoefficient2 == 80 ? 'selected' : null}">80</option>
            <option value="90" selected="{selectedCoefficient2 == 50 ? 'selected' : null}">90</option>
            <option value="100" selected="{selectedCoefficient2 == 100 ? 'selected' : null}">100</option>
          </select>
          <h2 class="text-center mt-4 mb-4">&euro; totali: {{totalCost2}}</h2>

        </div>
      </div>

      <div class="operators d-flex justify-content-around">
        <div class="first">
          <div class="operator_one">
            <h4 v-if="show2S1 == 1" >Operatore 1: 
                <input v-on:keydown.enter="showName2S1" id="name2S1" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 1" v-model="name2S1">
            </h4>
            <h4 v-if="show2S1 == 0">Operatore {{name2S1}}:</h4>
    
            <button class="btn btn-success" @click="start2">Start</button>
            <button class="btn btn-danger" @click="stop2">Stop</button>
            <p>{{formattedElapsedTime21}}</p>
          </div>
    
          <div class="operator_two">
            <h4 v-if="show2S2 == 1" >Operatore 2: 
                <input v-on:keydown.enter="showName2S2" id="name2S2" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 2" v-model="name2S2">
            </h4>
            <h4 v-if="show2S2 == 0">Operatore {{name2S2}}:</h4>
    
            <button class="btn btn-success" @click="start22">Start</button>
            <button class="btn btn-danger" @click="stop22">Stop</button>
            <p>{{formattedElapsedTime22}}</p>
          </div>

        </div>

        <div class="second">
          <div class="operator_three">
            <h4 v-if="show2S3 == 1" >Operatore 3: 
                <input v-on:keydown.enter="showName2S3" id="name2S3" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 3" v-model="name2S3">
            </h4>
            <h4 v-if="show2S3 == 0">Operatore {{name2S3}}:</h4>
    
            <button class="btn btn-success" @click="start23">Start</button>
            <button class="btn btn-danger" @click="stop23">Stop</button>
            <p>{{formattedElapsedTime23}}</p>
          </div>
    
          <div class="operator_four">
            <h4 v-if="show2S4 == 1" >Operatore 4: 
                <input v-on:keydown.enter="showName2S4" id="name2S4" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 4" v-model="name2S4">
            </h4>
            <h4 v-if="show2S4 == 0">Operatore {{name2S4}}:</h4>
    
            <button class="btn btn-success" @click="start24">Start</button>
            <button class="btn btn-danger" @click="stop24">Stop</button>
            <p>{{formattedElapsedTime24}}</p>
          </div>

        </div>
      </div>


      </div>
      <!-- /lavoro 2 -->

      <hr>

      <!-- lavoro 3 -->
      <div class="work_three py-2 px-4">
        <form class="mt-1 mb-5 text-center" action="">
          <label for="name3"><h4>Nome del lavoro:</h4></label>
          <input v-if="show3 == 1" v-on:keydown.enter="showName3" id="name3" class="form-control name_work" type="text" placeholder="inserisci il nome del lavoro" v-model="name3"> 
          <h4 v-if="show3 == 0">{{name3}}</h4>
        </form>
  
        <div class="text-center mt-1 mb-1">
          <button class="btn btn-dark" @click="reset3">Reset</button>
        </div>
        
        <div class="d-flex justify-content-around">
          <h2 class="text-center mt-4 mb-4 pr-5">Ore totali: {{totalHours3}}</h2>
  
          <div class="cost ml-5">
            Coefficiente orario:
            <select v-on:change="coefficient3()" v-model="selectedCoefficient3" name="coefficient" id="coefficients_select">
              <option value="30" selected="{selectedCoefficient3 == 30 ? 'selected' : null}">30</option>
              <option value="40" selected="{selectedCoefficient3 == 40 ? 'selected' : null}">40</option>
              <option value="50" selected="{selectedCoefficient3 == 50 ? 'selected' : null}">50</option>
              <option value="60" selected="{selectedCoefficient3 == 60 ? 'selected' : null}">60</option>
              <option value="70" selected="{selectedCoefficient3 == 70 ? 'selected' : null}">70</option>
              <option value="80" selected="{selectedCoefficient3 == 80 ? 'selected' : null}">80</option>
              <option value="90" selected="{selectedCoefficient3 == 50 ? 'selected' : null}">90</option>
              <option value="100" selected="{selectedCoefficient3 == 100 ? 'selected' : null}">100</option>
            </select>
            <h2 class="text-center mt-4 mb-4">&euro; totali: {{totalCost3}}</h2>
  
          </div>
        </div>

        <div class="operators d-flex justify-content-around">

          <div class="first">
            <div class="operator_one">
              <h4 v-if="show3S1 == 1" >Operatore 1: 
                  <input v-on:keydown.enter="showName3S1" id="name3S1" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 1" v-model="name3S1">
              </h4>
              <h4 v-if="show3S1 == 0">Operatore {{name3S1}}:</h4>
      
              <button class="btn btn-success" @click="start3">Start</button>
              <button class="btn btn-danger" @click="stop3">Stop</button>
              <p>{{formattedElapsedTime31}}</p>
            </div>
      
            <div class="operator_two">
              <h4 v-if="show3S2 == 1" >Operatore 2: 
                  <input v-on:keydown.enter="showName3S2" id="name3S2" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 2" v-model="name3S2">
              </h4>
              <h4 v-if="show3S2 == 0">Operatore {{name3S2}}:</h4>
      
              <button class="btn btn-success" @click="start32">Start</button>
              <button class="btn btn-danger" @click="stop32">Stop</button>
              <p>{{formattedElapsedTime32}}</p>
            </div>
          </div>

          <div class="second">
            <div class="operator_three">
              <h4 v-if="show3S3 == 1" >Operatore 3: 
                  <input v-on:keydown.enter="showName3S3" id="name3S3" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 3" v-model="name3S3">
              </h4>
              <h4 v-if="show3S3 == 0">Operatore {{name3S3}}:</h4>
      
              <button class="btn btn-success" @click="start33">Start</button>
              <button class="btn btn-danger" @click="stop33">Stop</button>
              <p>{{formattedElapsedTime33}}</p>
            </div>
      
            <div class="operator_four">
              <h4 v-if="show3S4 == 1" >Operatore 4: 
                  <input v-on:keydown.enter="showName3S4" id="name3S4" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 4" v-model="name3S4">
              </h4>
              <h4 v-if="show3S4 == 0">Operatore {{name3S4}}:</h4>
      
              <button class="btn btn-success" @click="start34">Start</button>
              <button class="btn btn-danger" @click="stop34">Stop</button>
              <p>{{formattedElapsedTime34}}</p>
            </div>
          </div>

        </div>
  
  
      </div>
      <!-- /lavoro 3 -->

      <hr>

      <!-- lavoro 4 -->
      <div class="work_four py-2 px-4">
        <form class="mt-1 mb-5" action="">
          <label for="name4"><h4>Nome del lavoro:</h4></label>
          <input v-if="show4 == 1" v-on:keydown.enter="showName4" id="name4" class="form-control name_work" type="text" placeholder="inserisci il nome del lavoro" v-model="name4"> 
          <h4 v-if="show4 == 0">{{name4}}</h4>
        </form>
  
        <div class="text-center mt-1 mb-1">
          <button class="btn btn-dark" @click="reset4">Reset</button>
        </div>
        
        <div class="d-flex justify-content-around">
          <h2 class="text-center mt-4 mb-4 pr-5">Ore totali: {{totalHours4}}</h2>
  
          <div class="cost ml-5">
            Coefficiente orario:
            <select v-on:change="coefficient4()" v-model="selectedCoefficient4" name="coefficient" id="coefficients_select">
              <option value="30" selected="{selectedCoefficient4 == 30 ? 'selected' : null}">30</option>
              <option value="40" selected="{selectedCoefficient4 == 40 ? 'selected' : null}">40</option>
              <option value="50" selected="{selectedCoefficient4 == 50 ? 'selected' : null}">50</option>
              <option value="60" selected="{selectedCoefficient4 == 60 ? 'selected' : null}">60</option>
              <option value="70" selected="{selectedCoefficient4 == 70 ? 'selected' : null}">70</option>
              <option value="80" selected="{selectedCoefficient4 == 80 ? 'selected' : null}">80</option>
              <option value="90" selected="{selectedCoefficient4 == 50 ? 'selected' : null}">90</option>
              <option value="100" selected="{selectedCoefficient4 == 100 ? 'selected' : null}">100</option>
            </select>
            <h2 class="text-center mt-4 mb-4">&euro; totali: {{totalCost4}}</h2>
  
          </div>
        </div>

        <div class="operators d-flex justify-content-around">

          <div class="first">

            <div class="operator_one">
              <h4 v-if="show4S1 == 1" >Operatore 1: 
                  <input v-on:keydown.enter="showName4S1" id="name4S1" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 1" v-model="name4S1">
              </h4>
              <h4 v-if="show4S1 == 0">Operatore {{name4S1}}:</h4>
      
              <button class="btn btn-success" @click="start4">Start</button>
              <button class="btn btn-danger" @click="stop4">Stop</button>
              <p>{{formattedElapsedTime41}}</p>
            </div>
      
            <div class="operator_two">
              <h4 v-if="show4S2 == 1" >Operatore 2: 
                  <input v-on:keydown.enter="showName4S2" id="name4S2" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 2" v-model="name4S2">
              </h4>
              <h4 v-if="show4S2 == 0">Operatore {{name4S2}}:</h4>
      
              <button class="btn btn-success" @click="start42">Start</button>
              <button class="btn btn-danger" @click="stop42">Stop</button>
              <p>{{formattedElapsedTime42}}</p>
            </div>
          </div>

          <div class="second">

            <div class="operator_three">
              <h4 v-if="show4S3 == 1" >Operatore 3: 
                  <input v-on:keydown.enter="showName4S3" id="name4S3" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 3" v-model="name4S3">
              </h4>
              <h4 v-if="show4S3 == 0">Operatore {{name4S3}}:</h4>
      
              <button class="btn btn-success" @click="start43">Start</button>
              <button class="btn btn-danger" @click="stop43">Stop</button>
              <p>{{formattedElapsedTime43}}</p>
            </div>
      
            <div class="operator_four">
              <h4 v-if="show4S4 == 1" >Operatore 4: 
                  <input v-on:keydown.enter="showName4S4" id="name4S4" class="name_input" type="text" placeholder="inserisci il nome dell'operatore 4" v-model="name4S4">
              </h4>
              <h4 v-if="show4S4 == 0">Operatore {{name4S4}}:</h4>
      
              <button class="btn btn-success" @click="start44">Start</button>
              <button class="btn btn-danger" @click="stop44">Stop</button>
              <p>{{formattedElapsedTime44}}</p>
            </div>
          </div>

        </div>
  
  
      </div>
      <!-- /lavoro 4 -->

    </div>

    <script src="js/script.js"></script>
  </body>
</html>